<div class="card">
  <div class="card-header">
    <div class="card-title" style="font-size: 1.8rem;">
      <div>{{title}}</div>

    </div>
  </div>
  <div class="card-body">

    <div class="card-text"><strong>{{description}}</strong></div>
    <br />
    <div class="card-text">
      <a href="/api/blogpost/search/{{id}}">

        <em>Post date {{time}}</em></a><br /><br />
    </div>
  </div>
</div>

<form action="/api/blogpost/update/{{id}}" method="POST">
  <div class="form-group">
    <label for="title"><strong>Title:</strong></label><br />
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      style="width: 70vw; font-size: 24px;"
      required
    />
  </div>
  <div class="form-group">
    <label for="description"><strong>Description:</strong></label><br />
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="5"
      style="width: 70vw; font-size: 24px; padding: 10px;"
    ></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" style="width: 20vw">Update Post</button>
</form>